nicegui ~= 3.16; python_version >= "3.10"
PyGithub ~= 2.9; python_version >= "3.9"
PyYAML ~= 6.0; python_version >= "3.8"
requests ~= 2.34; python_version >= "3.9"

# Optional dependencies
# pip-system-certs:  # for issues with SSL certificates

# Development dependencies
# types-PyYAML
# types-requests
# bandit[baseline]:  # can be used to scan for additional security issues in the code `python -m bandit src/ -r -c .\.bandit`

