nicegui ~= 3.16; python_version >= "3.10"
PyGithub ~= 2.10; python_version >= "3.10"
PyYAML ~= 6.0; python_version >= "3.10"
requests ~= 2.34; python_version >= "3.10"

# Optional dependencies
# pip-system-certs:  # for issues with SSL certificates

# Development dependencies
# types-PyYAML
# types-requests
# bandit[baseline]:  # can be used to scan for additional security issues in the code `python -m bandit src/ -r -c .\.bandit`

